Repository bounswe/bounswe2019group4, pull requests merged in 2019-10, with the labels that each got.

#125 #124 Backend feature add login signup
  app/backend/.gitignore
  app/backend/README.md
  app/backend/controllers/login-signup.js
  app/backend/db.js
  app/backend/index.js
  app/backend/models/user.js
  app/backend/package.json
  app/backend/routes/login-signup.js
  app/backend/tests/login-signup.test.js
Labels: Back-End, Priority: High, Type: Development

#133 Backend feature email verification
  app/backend/controllers/login-signup.js
  app/backend/emails/verifyEmail.js
  app/backend/models/user.js
  app/backend/package.json
  app/backend/routes/login-signup.js
Labels: Back-End, Priority: High, Type: Development

#135 Backend feature forget password
  app/backend/controllers/login-signup.js
  app/backend/emails/forgetPassword.js
  app/backend/models/user.js
  app/backend/package.json
  app/backend/routes/login-signup.js
Labels: Back-End, Priority: Medium, Status: Review needed, Type: Development

#136 Backend feature user profile details
  app/backend/controllers/login-signup.js
  app/backend/controllers/profile.js
  app/backend/index.js
  app/backend/models/user.js
  app/backend/routes/profile.js
Labels: Back-End, Priority: Medium, Type: Feature

#150 Backend dev improvement: add middleware to access database models
  app/backend/controllers/db.js
  app/backend/controllers/login-signup.js
  app/backend/controllers/profile.js
  app/backend/routes/login-signup.js
  app/backend/routes/profile.js
Labels: Back-End, Priority: Medium, Type: Development, Type: Enhancement

#147 check user password length
  app/backend/controllers/login-signup.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Bug

#152 edit google auth
  app/backend/controllers/login-signup.js
  app/backend/models/user.js
  app/backend/routes/login-signup.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Development

#162 add logout
  app/backend/controllers/login-signup.js
  app/backend/routes/login-signup.js
Labels: Back-End, Priority: Medium, Type: Development

#173 add validation for password
  app/backend/controllers/login-signup.js
  app/backend/package.json
  app/backend/utils.js
Labels: Back-End, Priority: Low, Status: Review needed, Type: Development

#171 Back feature validation iban tckn
  app/backend/controllers/login-signup.js
  app/backend/package.json
  app/backend/utils.js
Labels: Back-End, Priority: Low, Status: Review needed, Type: Development

#163 Add password show eye icon
  app/android/.idea/codeStyles/Project.xml
  app/android/app/src/main/java/com/example/arken/fragment/LoginFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/SignupFragment.java
  app/android/app/src/main/res/layout/fragment_login.xml
  app/android/app/src/main/res/layout/fragment_signup.xml
  app/android/app/src/main/res/layout/signup_part.xml
Labels: Mobile-Android, Priority: Medium, Type: Feature

#174 deploying the first version of the API
  app/backend/.gitignore
  app/backend/README.md
  app/backend/controllers/db.js
  app/backend/controllers/login-signup.js
  app/backend/controllers/profile.js
  app/backend/db.js
  app/backend/emails/forgetPassword.js
  app/backend/emails/verifyEmail.js
  app/backend/index.js
  app/backend/models/user.js
  app/backend/package.json
  app/backend/routes/login-signup.js
  app/backend/routes/profile.js
  app/backend/tests/login-signup.test.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium

#168 Backend feature events
  app/backend/controllers/events.js
  app/backend/index.js
  app/backend/models/event.js
  app/backend/routes/events.js
Labels: Back-End, Priority: High, Type: Development

#176 Add password validation
  app/android/.idea/codeStyles/Project.xml
  app/android/app/src/main/java/com/example/arken/fragment/SignupFragment.java
  app/android/app/src/main/res/layout/signup_part.xml
Labels: Mobile-Android, Priority: Medium, Type: Feature

#177 Frontend feature sign in
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/App.js
  app/frontend/src/_core/baseRequest.js
  app/frontend/src/_core/config.js
  app/frontend/src/_core/devTools.js
  app/frontend/src/_core/requestMiddleware.js
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Alert.js
  app/frontend/src/components/Header/ArkenHeader.js
  app/frontend/src/components/Header/GuestHeaderComponent.js
  app/frontend/src/components/Header/UserHeaderComponent.js
  app/frontend/src/components/SignIn/SignIn.js
  app/frontend/src/factories/authFactory.js
  app/frontend/src/index.js
  app/frontend/src/reducers/user.js
  app/frontend/src/store.js
Labels: Front-End, Type: Development, Type: Feature

#178 sign up constructed, more and more initialization
  app/frontend/public/manifest.json
  app/frontend/src/EmptyPage.js
  app/frontend/src/assets/background.jpg
  app/frontend/src/components/Header/ArkenHeader.js
  app/frontend/src/components/Router.js
  app/frontend/src/components/SignIn/SignIn.js
  app/frontend/src/components/SignUp/SignUp.js
  app/frontend/src/factories/userFactory.js
  app/frontend/src/index.css
Labels: Front-End, Priority: High, Type: Development

#180 verify email feature, more more more initialization
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Router.js
  app/frontend/src/components/SignUp/SignUpComplete.js
  app/frontend/src/components/SignUp/VerifyEmail.js
  app/frontend/src/factories/authFactory.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Development

#184 Backend bugfix reset password
  app/backend/controllers/events.js
  app/backend/controllers/login-signup.js
  app/backend/controllers/profile.js
Labels: Back-End, Type: Bug

#182 password reset done
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Router.js
  app/frontend/src/components/SignIn/ResetPassword.js
  app/frontend/src/components/SignIn/SignIn.js
  app/frontend/src/components/SignUp/SignUp.js
  app/frontend/src/components/SignUp/SignUpComplete.js
  app/frontend/src/components/SignUp/VerifyEmail.js
  app/frontend/src/factories/userFactory.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Development

#186 refreshed email redirection link
  app/backend/emails/forgetPassword.js
  app/backend/emails/verifyEmail.js
Labels: Back-End, Priority: High, Type: Bug

#188 Android events feature implementation
  app/android/app/build.gradle
  app/android/app/src/main/java/com/example/arken/activity/MainActivity.java
  app/android/app/src/main/java/com/example/arken/fragment/ListEventFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/LoginFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/SignupFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/StartFragment.java
  app/android/app/src/main/java/com/example/arken/model/Event.kt
  app/android/app/src/main/java/com/example/arken/model/ListEvent.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/EventAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/RetroClient.java
  app/android/app/src/main/res/layout/activity_main.xml
  app/android/app/src/main/res/layout/event_row.xml
  app/android/app/src/main/res/layout/fragment_listevent.xml
  app/android/app/src/main/res/layout/fragment_login.xml
  app/android/app/src/main/res/layout/fragment_signup.xml
  app/android/app/src/main/res/navigation/navigation_graph.xml
  app/android/app/src/main/res/values/strings.xml
  app/android/app/src/main/res/values/styles.xml
Labels: Mobile-Android, Priority: High, Type: Feature

#189 add time interval function to get events
  app/backend/controllers/events.js
  app/backend/index.js
  app/backend/routes/events.js
  app/backend/utils.js
Labels: Back-End, Type: Development

#199 make session middleware use mongodb
  app/backend/index.js
  app/backend/package.json
Labels: Back-End, Priority: Low, Type: Enhancement

#193 add extra fields and pagination to the response data in events
  app/backend/controllers/events.js
Labels: Back-End, Priority: High, Type: Development

#206 Android enhancement event design
  app/android/.idea/codeStyles/Project.xml
  app/android/app/src/main/java/com/example/arken/util/EventAdapter.kt
  app/android/app/src/main/res/drawable-anydpi/ic_star_empty.xml
  app/android/app/src/main/res/drawable-anydpi/ic_star_full.xml
  app/android/app/src/main/res/drawable-hdpi/ic_star_empty.png
  app/android/app/src/main/res/drawable-hdpi/ic_star_full.png
  app/android/app/src/main/res/drawable-mdpi/ic_star_empty.png
  app/android/app/src/main/res/drawable-mdpi/ic_star_full.png
  app/android/app/src/main/res/drawable-xhdpi/ic_star_empty.png
  app/android/app/src/main/res/drawable-xhdpi/ic_star_full.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_star_empty.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_star_full.png
  app/android/app/src/main/res/layout/event_row.xml
  app/android/app/src/main/res/values/colors.xml
  app/android/app/src/main/res/values/styles.xml
Labels: Mobile-Android, Priority: Medium, Type: Enhancement

#181 Add private/public switch to the sign up page
  app/android/app/src/main/java/com/example/arken/activity/MapsActivity.java
  app/android/app/src/main/java/com/example/arken/fragment/SignupFragment.java
  app/android/app/src/main/java/com/example/arken/model/SignupUser.java
  app/android/app/src/main/res/layout/signup_part.xml
Labels: Mobile-Android, Priority: Medium, Type: Feature

#200 Backend feature follow tequipments
  app/backend/controllers/auth.js
  app/backend/controllers/trading-equipments.js
  app/backend/index.js
  app/backend/models/trading-eq-follow.js
  app/backend/routes/trading-eq.js
Labels: Back-End, Priority: Medium, Type: Development

#203 WIP: implement request body validation middleware
  app/backend/controllers/middleware.js
Labels: Back-End, Priority: Low, Type: Development, Type: Enhancement

#210 Android feature google sign
  app/android/app/build.gradle
  app/android/app/src/main/java/com/example/arken/activity/MainActivity.java
  app/android/app/src/main/java/com/example/arken/fragment/GoogleSignupFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/ListEventFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/SignupFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/StartFragment.java
  app/android/app/src/main/java/com/example/arken/model/GoogleId.kt
  app/android/app/src/main/java/com/example/arken/model/GoogleUser.java
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/res/layout/fragment_listevent.xml
  app/android/app/src/main/res/layout/fragment_login.xml
  app/android/app/src/main/res/layout/fragment_signup_google.xml
  app/android/app/src/main/res/layout/fragment_start.xml
  app/android/app/src/main/res/layout/signup_part.xml
  app/android/app/src/main/res/navigation/navigation_graph.xml
  app/android/app/src/main/res/values/colors.xml
Labels: Mobile-Android, Priority: High, Type: Feature

#209 Backend feature get trading equipment
  app/backend/currencies.txt
  app/backend/index.js
  app/backend/models/trading-eq.js
  app/backend/utils.js
Labels: Back-End, Type: Development

#213 endpoint for get trading equipments
  app/backend/controllers/trading-equipments.js
  app/backend/routes/trading-eq.js
Labels: Back-End, Priority: Medium, Type: Documentation

#197 Frontend profile page
  .idea/bounswe2019group4.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  app/frontend/src/components/Profile/Profile.js
  app/frontend/src/components/Profile/h2.jpg
Labels: Front-End, Priority: High, Status: Completed

#217 Frontend merge google sign in to frontend
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Header/ArkenHeader.js
  app/frontend/src/components/Header/UserHeaderComponent.js
  app/frontend/src/components/Router.js
  app/frontend/src/components/SignIn/SignIn.js
  app/frontend/src/components/SignUp/SignUpGoogle.js
  app/frontend/src/factories/authFactory.js
  app/frontend/src/reducers/user.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Feature

#215 Android feature event page
  app/android/app/build.gradle
  app/android/app/src/main/java/com/example/arken/fragment/EventFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/ListEventFragment.kt
  app/android/app/src/main/java/com/example/arken/model/Event.kt
  app/android/app/src/main/java/com/example/arken/model/ListEvent.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/EventAdapter.kt
  app/android/app/src/main/res/layout/event_row.xml
  app/android/app/src/main/res/layout/fragment_event.xml
  app/android/app/src/main/res/navigation/navigation_graph.xml
  app/android/build.gradle
Labels: Mobile-Android, Priority: High, Type: Feature

#224 change sender email dynamically
  app/backend/emails/forgetPassword.js
  app/backend/emails/verifyEmail.js
Labels: Back-End, Priority: Low, Type: Enhancement

#227 Backend feature current trading eq
  app/backend/controllers/trading-equipments.js
  app/backend/index.js
  app/backend/models/current-trading-eq.js
  app/backend/routes/trading-eq.js
  app/backend/utils.js
Labels: Back-End, Priority: High, Type: Development

#220 Backend enhancement add json checking middleware
  app/backend/controllers/middleware.js
  app/backend/index.js
Labels: Back-End, Priority: Low, Type: Development

#208 Android feature forgot password
  app/android/app/src/main/java/com/example/arken/fragment/ForgotPasswordFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/LoginFragment.java
  app/android/app/src/main/java/com/example/arken/model/Email.java
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/res/layout/fragment_forgot_password.xml
  app/android/app/src/main/res/layout/fragment_login.xml
  app/android/app/src/main/res/navigation/navigation_graph.xml
Labels: Mobile-Android, Priority: High, Type: Enhancement

#222 Android feature menu
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/GoogleSignupFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/ListEventFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/LoginFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/SignupFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/StartFragment.java
  app/android/app/src/main/java/com/example/arken/util/EventAdapter.kt
  app/android/app/src/main/res/drawable-anydpi/ic_event.xml
  app/android/app/src/main/res/drawable-anydpi/ic_logout.xml
  app/android/app/src/main/res/drawable-anydpi/ic_star_empty.xml
  app/android/app/src/main/res/drawable-anydpi/ic_star_full.xml
  app/android/app/src/main/res/drawable-anydpi/ic_trading_eq.xml
  app/android/app/src/main/res/drawable-hdpi/ic_event.png
  app/android/app/src/main/res/drawable-hdpi/ic_logout.png
  app/android/app/src/main/res/drawable-hdpi/ic_trading_eq.png
  app/android/app/src/main/res/drawable-mdpi/ic_event.png
  app/android/app/src/main/res/drawable-mdpi/ic_logout.png
  app/android/app/src/main/res/drawable-mdpi/ic_trading_eq.png
  app/android/app/src/main/res/drawable-xhdpi/ic_event.png
  app/android/app/src/main/res/drawable-xhdpi/ic_logout.png
  app/android/app/src/main/res/drawable-xhdpi/ic_trading_eq.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_event.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_logout.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_trading_eq.png
  app/android/app/src/main/res/drawable/shape_list.xml
  app/android/app/src/main/res/layout/event_row.xml
  app/android/app/src/main/res/layout/fragment_base.xml
  app/android/app/src/main/res/layout/fragment_listevent.xml
  app/android/app/src/main/res/layout/fragment_login.xml
  app/android/app/src/main/res/layout/signup_part.xml
  app/android/app/src/main/res/navigation/navigation_base.xml
  app/android/app/src/main/res/navigation/navigation_graph.xml
  app/android/app/src/main/res/values/colors.xml
  app/android/app/src/main/res/values/strings.xml
Labels: Mobile-Android, Priority: High, Type: Feature

#229 Android feature trading equipment
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/ListCurrentFragment.kt
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/Currency.kt
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/CurrencyValue.kt
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/Current.kt
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/Id.kt
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/ListCurrency.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/CurrencyAdapter.kt
  app/android/app/src/main/res/layout/current_row.xml
  app/android/app/src/main/res/layout/fragment_tequipments.xml
  app/android/app/src/main/res/navigation/navigation_base.xml
  app/android/app/src/main/res/navigation/navigation_graph.xml
Labels: Mobile-Android, Priority: High, Type: Feature

#230 add map to google sign
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/GoogleSignupFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/SignupFragment.java
  app/android/app/src/main/res/layout/fragment_signup_google.xml
  app/android/app/src/main/res/layout/signup_part.xml
Labels: Mobile-Android, Priority: Medium, Type: Expected Behavior

#231 Backend-dev milestone1 jobs
  app/backend/README.md
  app/backend/controllers/auth.js
  app/backend/controllers/events.js
  app/backend/controllers/login-signup.js
  app/backend/controllers/middleware.js
  app/backend/controllers/profile.js
  app/backend/controllers/trading-equipments.js
  app/backend/currencies.txt
  app/backend/emails/forgetPassword.js
  app/backend/emails/verifyEmail.js
  app/backend/index.js
  app/backend/models/current-trading-eq.js
  app/backend/models/event.js
  app/backend/models/trading-eq-follow.js
  app/backend/models/trading-eq.js
  app/backend/package.json
  app/backend/routes/events.js
  app/backend/routes/trading-eq.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Enhancement

#232 Backend milestone1 all jobs
  app/backend/.gitignore
  app/backend/README.md
  app/backend/controllers/auth.js
  app/backend/controllers/db.js
  app/backend/controllers/events.js
  app/backend/controllers/login-signup.js
  app/backend/controllers/middleware.js
  app/backend/controllers/profile.js
  app/backend/controllers/trading-equipments.js
  app/backend/currencies.txt
  app/backend/db.js
  app/backend/emails/forgetPassword.js
  app/backend/emails/verifyEmail.js
  app/backend/index.js
  app/backend/models/current-trading-eq.js
  app/backend/models/event.js
  app/backend/models/trading-eq-follow.js
  app/backend/models/trading-eq.js
  app/backend/models/user.js
  app/backend/package.json
  app/backend/routes/events.js
  app/backend/routes/login-signup.js
  app/backend/routes/profile.js
  app/backend/routes/trading-eq.js
  app/backend/tests/login-signup.test.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Enhancement

#233 Merge frontend feature sign up by google location
  .gitignore
  app/frontend/package.json
  app/frontend/public/index.html
  app/frontend/src/components/SignUp/SignUp.js
  app/frontend/src/components/SignUp/SignUpGoogle.js
Labels: Front-End, Priority: High, Status: Review needed

#139 Frontend Initialization
  .gitignore
  .idea/.gitignore
  .idea/bounswe2019group4.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  app/frontend/.gitignore
  app/frontend/README.md
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/public/arken_logo.png
  app/frontend/public/index.html
  app/frontend/public/manifest.json
  app/frontend/public/robots.txt
  app/frontend/src/App.css
  app/frontend/src/App.js
  app/frontend/src/App.test.js
  app/frontend/src/EmptyPage.js
  app/frontend/src/_core/baseRequest.js
  app/frontend/src/_core/config.js
  app/frontend/src/_core/devTools.js
  app/frontend/src/_core/history.js
  app/frontend/src/_core/localStorage.js
  app/frontend/src/_core/requestMiddleware.js
  app/frontend/src/actions/alertActions.js
  app/frontend/src/actions/exampleAction.js
  app/frontend/src/actions/userActions.js
  app/frontend/src/assets/arken_logo.png
  app/frontend/src/assets/background.jpg
  app/frontend/src/assets/onestar.png
  app/frontend/src/assets/threestar.png
  app/frontend/src/assets/twostar.png
  app/frontend/src/components/Alert.js
  app/frontend/src/components/Events/Events.js
  app/frontend/src/components/Header/ArkenHeader.js
  app/frontend/src/components/Header/GuestHeaderComponent.js
  app/frontend/src/components/Header/Header.js
  app/frontend/src/components/Header/UserHeaderComponent.js
  app/frontend/src/components/Profile/Profile.js
  app/frontend/src/components/Profile/h2.jpg
  app/frontend/src/components/Router.js
  app/frontend/src/components/SignIn/ResetPassword.js
  app/frontend/src/components/SignIn/SignIn.js
  app/frontend/src/components/SignUp/SignUp.js
  app/frontend/src/components/SignUp/SignUpComplete.js
  app/frontend/src/components/SignUp/SignUpGoogle.js
  app/frontend/src/components/SignUp/VerifyEmail.js
  app/frontend/src/factories/authFactory.js
  app/frontend/src/factories/userFactory.js
  app/frontend/src/index.css
  app/frontend/src/index.js
  app/frontend/src/logo.svg
  app/frontend/src/reducers/alert.js
  app/frontend/src/reducers/exampleReducer.js
  app/frontend/src/reducers/rootReducer.js
  app/frontend/src/reducers/user.js
  app/frontend/src/serviceWorker.js
  app/frontend/src/store.js
  arken-web/.gitignore
  package-lock.json
Labels: Front-End, Priority: Critical, Type: Development

#239 WIP: Backend feature user follow system
  app/backend/controllers/db.js
  app/backend/controllers/profile.js
  app/backend/models/user-follow.js
  app/backend/routes/profile.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Status: In Progress, Status: On Hold, Type: Development

#243 Backend feature edit utils
  app/backend/index.js
  app/backend/utils.js
Labels: Back-End, Priority: Low, Type: Development

#242 WIP: Backend feature comment
  app/backend/controllers/comments.js
  app/backend/controllers/events.js
  app/backend/controllers/trading-equipments.js
  app/backend/index.js
  app/backend/models/comment.js
  app/backend/routes/comments.js
  app/backend/routes/events.js
  app/backend/routes/profile.js
  app/backend/routes/trading-eq.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Development

#247 Fix issues related to JSON data validation
  app/backend/controllers/middleware.js
  app/backend/index.js
Labels: Back-End, Priority: Medium, Type: Bug, Type: Optimization

#250 add schema-level validation to User model
  app/backend/controllers/login-signup.js
  app/backend/models/user.js
Labels: Back-End, Priority: Low, Type: Optimization

#260 Android Enhancement Signup Login Design
  .idea/workspace.xml
  app/android/app/src/main/java/com/example/arken/fragment/LoginFragment.java
  app/android/app/src/main/res/drawable-anydpi/ic_location.xml
  app/android/app/src/main/res/drawable/login_background.xml
  app/android/app/src/main/res/layout/fragment_login.xml
  app/android/app/src/main/res/layout/fragment_signup.xml
  app/android/app/src/main/res/layout/signup_part.xml
  app/android/app/src/main/res/values/colors.xml
  app/android/app/src/main/res/values/dimens.xml
  app/android/app/src/main/res/values/strings.xml
  app/android/app/src/main/res/values/styles.xml
Labels: Mobile-Android, Priority: Medium, Type: Enhancement
