Repository bounswe/bounswe2019group4, pull requests merged in 2019-12, with the labels that each got.

#341 Feature - Cancel follow request
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Profile/Profile_Others.js
  app/frontend/src/factories/userFactory.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Enhancement

#348 Backend bug schedular
  app/backend/controllers/trading-equipments.js
  app/backend/models/trading-eq-prediction.js
  app/backend/package.json
  app/backend/utils.js
Labels: Back-End, Priority: High, Type: Bug

#343 Backend feature investment
  app/backend/controllers/auth.js
  app/backend/controllers/investment.js
  app/backend/index.js
  app/backend/models/investment-history.js
  app/backend/models/order-investment.js
  app/backend/models/user-account.js
  app/backend/routes/investment.js
  app/backend/utils.js
Labels: Back-End, Priority: High, Type: Development

#351 Backend feature additional trading equipments
  app/backend/coins.txt
  app/backend/currencies.txt
  app/backend/models/user-account.js
  app/backend/stocks.txt
  app/backend/utils.js
Labels: Back-End, Type: Development

#359 Backend feature teq alert
  app/backend/controllers/article.js
  app/backend/controllers/trading-equipments.js
  app/backend/models/trading-eq-alert.js
  app/backend/routes/trading-eq.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Development

#360 Backend feature notification
  app/backend/controllers/notification.js
  app/backend/controllers/profile.js
  app/backend/index.js
  app/backend/models/notification.js
  app/backend/routes/notification.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Development

#362 fix current stocks value update bug
  app/backend/utils.js
Labels: Back-End, Type: Bug

#372 Backend feature recommendation
  app/backend/controllers/recommendation.js
  app/backend/index.js
  app/backend/routes/recommendation.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Development

#365 Backend feature profit loss
  app/backend/controllers/investment.js
  app/backend/controllers/recommendation.js
  app/backend/index.js
  app/backend/models/investment-history.js
  app/backend/routes/recommendation.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Development

#373 Frontend homepage
  app/frontend/src/EmptyPage.js
  app/frontend/src/components/HomePage/HomePage.js
  app/frontend/src/components/HomePage/arrow-point-to-right.svg
  app/frontend/src/components/HomePage/slide_image_1.png
  app/frontend/src/components/HomePage/slide_image_2.png
  app/frontend/src/components/HomePage/slide_image_3.png
  app/frontend/src/components/HomePage/slide_image_4.png
  app/frontend/src/components/HomePage/slide_image_5.png
  app/frontend/src/components/HomePage/styles.css
  app/frontend/src/index.css
Labels: Front-End, Priority: Medium, Status: Review needed, Type: Enhancement

#370 Android enhancement search
  app/android/.idea/codeStyles/Project.xml
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/article/ArticleDetail.kt
  app/android/app/src/main/java/com/example/arken/fragment/article/ArticleDialogFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/article/ListArticleFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/comment/ListCommentFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/profile/ProfileFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchArticle.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchEvent.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchTE.kt
  app/android/app/src/main/java/com/example/arken/model/Event.kt
  app/android/app/src/main/java/com/example/arken/model/EventWithComment.kt
  app/android/app/src/main/java/com/example/arken/model/ListArticle.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/ArticleAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/SearchPagerAdapter.kt
  app/android/app/src/main/res/layout/article_row.xml
  app/android/app/src/main/res/layout/fragment_article_details.xml
  app/android/app/src/main/res/layout/fragment_article_list.xml
  app/android/app/src/main/res/layout/fragment_profile.xml
  app/android/app/src/main/res/navigation/navigation_base.xml
Labels: Mobile-Android, Priority: Medium, Type: Enhancement

#357 Frontend feature all articles page
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Articles/AllArticles.js
  app/frontend/src/components/Header/ArkenHeader.js
  app/frontend/src/components/Router.js
Labels: Front-End, Priority: Medium, Status: Review needed, Type: Feature

#358 Added "comments" section to "Article Detail" page.
  app/frontend/src/components/Articles/Article_Details.js
Labels: Front-End, Priority: Medium, Status: Review needed, Type: Enhancement

#364 Android enhancement article
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/article/ArticleDetail.kt
  app/android/app/src/main/java/com/example/arken/fragment/article/ListArticleFragment.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/res/layout/fragment_article_details.xml
  app/android/app/src/main/res/navigation/navigation_base.xml
Labels: Mobile-Android, Priority: Medium, Type: Enhancement

#377 Frontend enhancement tr eq page
  app/frontend/src/components/TradingEquipment/TradingEquipment.js
Labels: Front-End, Priority: Medium, Status: Review needed, Type: Enhancement

#379 Frontend feature notifications
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Articles/AllArticles.js
  app/frontend/src/components/Header/UserHeaderComponent.js
  app/frontend/src/components/Profile/Profile.js
  app/frontend/src/factories/userFactory.js
Labels: Front-End, Priority: Medium, Status: Review needed, Type: Feature

#389 Frontend feature alert
  app/frontend/src/actions/tradingEquipmentActions.js
  app/frontend/src/components/Profile/Profile_Others.js
  app/frontend/src/components/TradingEquipment/TradingEquipment.js
  app/frontend/src/factories/tradingEquipmentFactory.js
Labels: Front-End, Priority: Medium, Status: Review needed, Type: Feature

#384 Backend: annotation server
  app/annotation-server/controllers/annotations/createAnnotation.js
  app/annotation-server/controllers/annotations/deleteAnnotation.js
  app/annotation-server/controllers/annotations/index.js
  app/annotation-server/controllers/annotations/retrieveAnnotation.js
  app/annotation-server/controllers/annotations/updateAnnotation.js
  app/annotation-server/controllers/middleware.js
  app/annotation-server/index.js
  app/annotation-server/models/annotation.js
  app/annotation-server/models/db.js
  app/annotation-server/models/etag-cache.js
  app/annotation-server/models/index.js
  app/annotation-server/package.json
  app/annotation-server/routes/annotations.js
  app/annotation-server/routes/index.js
  app/annotation-server/utils.js
Labels: Back-End, Priority: Critical, Type: Development, Type: Feature

#387 make results unique on search
  app/backend/controllers/search.js
Labels: Back-End, Priority: Critical, Type: Bug, Type: Expected Behavior, Type: Optimization

#393 Frontend feature recommendation
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Articles/AllArticles.js
  app/frontend/src/components/Articles/Article_Details.js
  app/frontend/src/components/Header/UserHeaderComponent.js
  app/frontend/src/factories/userFactory.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Feature

#394 Update search feature with semantic search
  app/backend/controllers/search.js
  app/backend/package.json
  app/backend/utils.js
Labels: Back-End, Priority: High, Type: Development, Type: Enhancement

#397 Backend enhancement portfolio response
  app/backend/controllers/profile.js
  app/backend/routes/profile.js
Labels: Back-End, Priority: Low, Type: Enhancement

#375 Android enhancement delete request
  app/android/app/src/main/java/com/example/arken/fragment/comment/ListCommentFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/profile/ProfileFragment.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/CommentAdapter.kt
Labels: Mobile-Android, Priority: Medium, Type: Enhancement

#405 Frontend enhancement real time notification
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Header/UserHeaderComponent.js
  app/frontend/src/factories/userFactory.js
Labels: Front-End, Priority: Medium, Status: Review needed, Type: Enhancement

#402 Frontend feature edit profile
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Profile/EditProfile.js
  app/frontend/src/components/Profile/ProfileCard.js
  app/frontend/src/components/Router.js
  app/frontend/src/components/SignUp/SignUp.js
  app/frontend/src/factories/userFactory.js
  app/frontend/src/reducers/user.js
Labels: Front-End, Priority: Medium, Status: Review needed, Type: Feature

#406 Android add alert
  app/android/app/src/main/java/com/example/arken/fragment/tEq/AddAlertDialog.kt
  app/android/app/src/main/java/com/example/arken/fragment/tEq/AlertListDialog.kt
  app/android/app/src/main/java/com/example/arken/fragment/tEq/CurrencyFragment.kt
  app/android/app/src/main/java/com/example/arken/model/Alert.kt
  app/android/app/src/main/java/com/example/arken/model/ListAlert.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/AlertAdapter.kt
  app/android/app/src/main/res/drawable-anydpi/ic_alert.xml
  app/android/app/src/main/res/drawable-hdpi/ic_alert.png
  app/android/app/src/main/res/drawable-mdpi/ic_alert.png
  app/android/app/src/main/res/drawable-xhdpi/ic_alert.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_alert.png
  app/android/app/src/main/res/layout/dialog_add_alert.xml
  app/android/app/src/main/res/layout/dialog_alert.xml
  app/android/app/src/main/res/layout/fragment_currency.xml
Labels: Mobile-Android, Priority: High, Type: Feature

#409 Merge investments to frontend
  app/frontend/src/actions/investmentActions.js
  app/frontend/src/components/Header/UserHeaderComponent.js
  app/frontend/src/components/Investments/Investments.js
  app/frontend/src/components/Router.js
  app/frontend/src/factories/investmentFactory.js
  app/frontend/src/utils/constants/tradingEquipment.js
Labels: Front-End, Priority: High, Type: Development

#404 Change semantic search method to search by tagging
  app/backend/controllers/article.js
  app/backend/controllers/search.js
  app/backend/models/article.js
  app/backend/utils.js
Labels: Back-End, Priority: High, Type: Enhancement

#407 Backend enhancemet edit portfolio
  app/backend/controllers/portfolio.js
  app/backend/controllers/profile.js
  app/backend/routes/portfolio.js
  app/backend/routes/profile.js
Labels: Back-End, Priority: Low, Type: Enhancement

#413 Android Feature Recommendation
  app/android/app/src/main/java/com/example/arken/fragment/profile/NotificationListDialog.kt
  app/android/app/src/main/java/com/example/arken/fragment/profile/ProfileFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchFragment.kt
  app/android/app/src/main/java/com/example/arken/model/ListNotification.kt
  app/android/app/src/main/java/com/example/arken/model/Notification.kt
  app/android/app/src/main/java/com/example/arken/model/Recommendation.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/NotificationAdapter.kt
  app/android/app/src/main/res/layout/fragment_listnotification.xml
  app/android/app/src/main/res/layout/fragment_notification.xml
  app/android/app/src/main/res/layout/fragment_profile.xml
Labels: Mobile-Android, Priority: High, Type: Feature

#414 Android feature investment
  app/android/.idea/codeStyles/Project.xml
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/article/ListArticleFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/investment/BuySellDialog.kt
  app/android/app/src/main/java/com/example/arken/fragment/investment/DepositDialog.kt
  app/android/app/src/main/java/com/example/arken/fragment/investment/MyinvestmentFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/investment/OrderDialog.kt
  app/android/app/src/main/java/com/example/arken/fragment/profile/ProfileFragment.kt
  app/android/app/src/main/java/com/example/arken/model/investment/Account.kt
  app/android/app/src/main/java/com/example/arken/model/investment/Deposit.kt
  app/android/app/src/main/java/com/example/arken/model/investment/Investment.kt
  app/android/app/src/main/java/com/example/arken/model/investment/ListOrder.kt
  app/android/app/src/main/java/com/example/arken/model/investment/Order.kt
  app/android/app/src/main/java/com/example/arken/model/investment/TransactionHistory.kt
  app/android/app/src/main/java/com/example/arken/model/investment/enums/Compare.kt
  app/android/app/src/main/java/com/example/arken/model/investment/enums/Type.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/ArticleAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/OrderAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/TransactionAdapter.kt
  app/android/app/src/main/res/layout/fragment_buysell_dialog.xml
  app/android/app/src/main/res/layout/fragment_deposit_dialog.xml
  app/android/app/src/main/res/layout/fragment_myinvestments.xml
  app/android/app/src/main/res/layout/fragment_order_dialog.xml
  app/android/app/src/main/res/layout/fragment_profile.xml
  app/android/app/src/main/res/layout/investment_row.xml
  app/android/app/src/main/res/layout/item_portfolio.xml
  app/android/app/src/main/res/layout/order_row.xml
  app/android/app/src/main/res/navigation/navigation_base.xml
Labels: Mobile-Android, Priority: High, Type: Feature

#418 Backend dev
  app/annotation-server/controllers/annotations/createAnnotation.js
  app/annotation-server/controllers/annotations/deleteAnnotation.js
  app/annotation-server/controllers/annotations/index.js
  app/annotation-server/controllers/annotations/retrieveAnnotation.js
  app/annotation-server/controllers/annotations/retrieveAnnotationsByArticle.js
  app/annotation-server/controllers/annotations/updateAnnotation.js
  app/annotation-server/controllers/middleware.js
  app/annotation-server/index.js
  app/annotation-server/models/annotation.js
  app/annotation-server/models/db.js
  app/annotation-server/models/etag-cache.js
  app/annotation-server/models/index.js
  app/annotation-server/package.json
  app/annotation-server/routes/annotations.js
  app/annotation-server/routes/index.js
  app/annotation-server/utils.js
  app/backend/coins.txt
  app/backend/controllers/article.js
  app/backend/controllers/auth.js
  app/backend/controllers/comments.js
  app/backend/controllers/investment.js
  app/backend/controllers/login-signup.js
  app/backend/controllers/notification.js
  app/backend/controllers/portfolio.js
  app/backend/controllers/profile.js
  app/backend/controllers/recommendation.js
  app/backend/controllers/search.js
  app/backend/controllers/trading-equipments.js
  app/backend/currencies.txt
  app/backend/index.js
  app/backend/models/article.js
  app/backend/models/current-trading-eq.js
  app/backend/models/investment-history.js
  app/backend/models/notification.js
  app/backend/models/order-investment.js
  app/backend/models/trading-eq-alert.js
  app/backend/models/trading-eq-prediction.js
  app/backend/models/trading-eq.js
  app/backend/models/user-account.js
  app/backend/package.json
  app/backend/routes/article.js
  app/backend/routes/investment.js
  app/backend/routes/notification.js
  app/backend/routes/portfolio.js
  app/backend/routes/profile.js
  app/backend/routes/recommendation.js
  app/backend/routes/trading-eq.js
  app/backend/stocks.txt
  app/backend/tests/article-test.js
  app/backend/tests/comment-test.js
  app/backend/tests/event-test.js
  app/backend/tests/general-test.js
  app/backend/tests/portfolio-test.js
  app/backend/tests/trading-test.js
  app/backend/utils.js
Labels: Back-End, Priority: High, Type: Development

#417 Android feature image annotation
  app/android/app/src/main/java/com/example/arken/fragment/article/ArticleDetail.kt
  app/android/app/src/main/java/com/example/arken/fragment/article/ArticleDialogFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/article/ImageAnnotationDialogFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/comment/ListCommentFragment.kt
  app/android/app/src/main/java/com/example/arken/model/AnnoCreateRequest.kt
  app/android/app/src/main/java/com/example/arken/model/Annotation.kt
  app/android/app/src/main/java/com/example/arken/model/Article.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/AnnotationAPIService.java
  app/android/app/src/main/java/com/example/arken/util/AnnotationRetroClient.java
  app/android/app/src/main/res/drawable-anydpi/ic_annotation.xml
  app/android/app/src/main/res/drawable-anydpi/ic_plus.xml
  app/android/app/src/main/res/drawable-hdpi/ic_annotation.png
  app/android/app/src/main/res/drawable-hdpi/ic_plus.png
  app/android/app/src/main/res/drawable-mdpi/ic_annotation.png
  app/android/app/src/main/res/drawable-mdpi/ic_plus.png
  app/android/app/src/main/res/drawable-xhdpi/ic_annotation.png
  app/android/app/src/main/res/drawable-xhdpi/ic_plus.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_annotation.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_plus.png
  app/android/app/src/main/res/drawable/image1.jpg
  app/android/app/src/main/res/drawable/image10.jpg
  app/android/app/src/main/res/drawable/image2.jpg
  app/android/app/src/main/res/drawable/image3.jpg
  app/android/app/src/main/res/drawable/image4.jpg
  app/android/app/src/main/res/drawable/image5.jpg
  app/android/app/src/main/res/drawable/image6.jpg
  app/android/app/src/main/res/drawable/image7.jpg
  app/android/app/src/main/res/drawable/image8.jpg
  app/android/app/src/main/res/drawable/image9.jpg
  app/android/app/src/main/res/layout/dialog_add_image_annotation.xml
  app/android/app/src/main/res/layout/dialog_see_image_annotations.xml
  app/android/app/src/main/res/layout/fragment_article_details.xml
  app/android/app/src/main/res/layout/image_annotation_item.xml
  app/android/app/src/main/res/menu/image_anno.xml
Labels: Mobile-Android, Priority: Critical, Type: Feature

#422 Android feature text annotation
  app/android/app/src/main/java/com/example/arken/fragment/article/ArticleDetail.kt
  app/android/app/src/main/java/com/example/arken/fragment/article/TextAnnotationDialogFragment.kt
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/AnnoCreateRequest.kt
  app/android/app/src/main/res/layout/dialog_text_annotation.xml
  app/android/app/src/main/res/layout/fragment_article_details.xml
  app/android/app/src/main/res/menu/anno_menu.xml
Labels: Mobile-Android, Priority: Critical, Type: Feature

#419 Android Feature Notification
  app/android/app/src/main/java/com/example/arken/fragment/profile/ProfileFragment.kt
  app/android/app/src/main/java/com/example/arken/util/NotificationAdapter.kt
  app/android/app/src/main/res/drawable-hdpi/ic_green_check.png
  app/android/app/src/main/res/drawable-hdpi/ic_red_cross.png
  app/android/app/src/main/res/drawable-hdpi/ic_red_down_arrow.png
  app/android/app/src/main/res/drawable-hdpi/ic_trending_down.png
  app/android/app/src/main/res/drawable-hdpi/ic_trending_up.png
  app/android/app/src/main/res/drawable-mdpi/ic_green_check.png
  app/android/app/src/main/res/drawable-mdpi/ic_red_cross.png
  app/android/app/src/main/res/drawable-mdpi/ic_red_down_arrow.png
  app/android/app/src/main/res/drawable-mdpi/ic_trending_down.png
  app/android/app/src/main/res/drawable-mdpi/ic_trending_up.png
  app/android/app/src/main/res/drawable-xhdpi/ic_green_check.png
  app/android/app/src/main/res/drawable-xhdpi/ic_red_cross.png
  app/android/app/src/main/res/drawable-xhdpi/ic_red_down_arrow.png
  app/android/app/src/main/res/drawable-xhdpi/ic_trending_down.png
  app/android/app/src/main/res/drawable-xhdpi/ic_trending_up.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_green_check.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_red_cross.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_red_down_arrow.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_trending_down.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_trending_up.png
  app/android/app/src/main/res/drawable-xxxhdpi/ic_green_check.png
  app/android/app/src/main/res/drawable-xxxhdpi/ic_red_cross.png
  app/android/app/src/main/res/drawable-xxxhdpi/ic_red_down_arrow.png
  app/android/app/src/main/res/drawable-xxxhdpi/ic_trending_down.png
  app/android/app/src/main/res/drawable-xxxhdpi/ic_trending_up.png
  app/android/app/src/main/res/layout/fragment_listnotification.xml
  app/android/app/src/main/res/layout/fragment_notification.xml
Labels: Mobile-Android, Priority: High, Type: Feature

#421 Android Enhancement Recommendation
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchFragment.kt
  app/android/app/src/main/java/com/example/arken/util/SearchPagerAdapter.kt
  app/android/app/src/main/res/layout/dialog_alert.xml
  app/android/app/src/main/res/navigation/navigation_base.xml
Labels: Mobile-Android, Priority: Medium, Type: Enhancement

#423 Frontend feature text annotation
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/_core/requestMiddleware.js
  app/frontend/src/components/Annotation/Mark.js
  app/frontend/src/components/Annotation/TextAnnotator.js
  app/frontend/src/components/Annotation/utils.js
  app/frontend/src/components/Articles/Article_Details.js
  app/frontend/src/factories/annotationFactory.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Feature
