Repository bounswe/bounswe2019group4, pull requests merged in 2019-11, with the labels that each got.

#252 User profile additional details
  app/backend/controllers/profile.js
  app/backend/routes/profile.js
Labels: Back-End, Priority: Medium, Type: Development

#254 Backend feature prediction
  app/backend/controllers/trading-equipments.js
  app/backend/models/trading-eq-prediction.js
  app/backend/models/user.js
  app/backend/routes/trading-eq.js
  app/backend/utils.js
Labels: Back-End, Type: Development

#273 bugfix: token not generated in signup
  app/backend/controllers/login-signup.js
Labels: Back-End, Priority: Critical, Type: Bug

#274 Backend feature article
  app/backend/controllers/article.js
  app/backend/controllers/profile.js
  app/backend/index.js
  app/backend/models/article-user.js
  app/backend/models/article.js
  app/backend/routes/article.js
  app/backend/routes/profile.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Development

#277 Backend feature edit profile
  app/backend/controllers/profile.js
  app/backend/routes/profile.js
Labels: Back-End, Type: Development

#283 return single object instead of array
  app/backend/controllers/trading-equipments.js
Labels: Back-End, Priority: High, Type: Bug

#281 Backend feature delete relations
  app/backend/controllers/article.js
  app/backend/index.js
  app/backend/routes/article.js
Labels: Back-End, Priority: Low, Type: Enhancement

#279 Backend feature portfolio
  app/backend/controllers/portfolio.js
  app/backend/controllers/profile.js
  app/backend/index.js
  app/backend/models/portfolio-follow.js
  app/backend/models/portfolio-tradingEq.js
  app/backend/models/portfolio.js
  app/backend/routes/portfolio.js
  app/backend/routes/profile.js
Labels: Back-End, Priority: Medium, Type: Development

#284 Android feature filter event
  app/android/app/src/main/java/com/example/arken/fragment/ListEventFragment.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/EventAdapter.kt
  app/android/app/src/main/res/layout/fragment_listevent.xml
Labels: Mobile-Android, Priority: High, Type: Feature

#287 Backend dev milestone2 part1
  app/backend/controllers/article.js
  app/backend/controllers/comments.js
  app/backend/controllers/db.js
  app/backend/controllers/events.js
  app/backend/controllers/login-signup.js
  app/backend/controllers/middleware.js
  app/backend/controllers/portfolio.js
  app/backend/controllers/profile.js
  app/backend/controllers/trading-equipments.js
  app/backend/index.js
  app/backend/models/article-user.js
  app/backend/models/article.js
  app/backend/models/comment.js
  app/backend/models/portfolio-follow.js
  app/backend/models/portfolio-tradingEq.js
  app/backend/models/portfolio.js
  app/backend/models/trading-eq-prediction.js
  app/backend/models/user-follow.js
  app/backend/models/user.js
  app/backend/routes/article.js
  app/backend/routes/comments.js
  app/backend/routes/events.js
  app/backend/routes/portfolio.js
  app/backend/routes/profile.js
  app/backend/routes/trading-eq.js
  app/backend/utils.js
  practice-app/backend/package.json
Labels: Back-End, Priority: High, Type: Development

#299 Backend bugfix comment detail cannot read about field
  app/backend/controllers/comments.js
  app/backend/routes/comments.js
Labels: Back-End, Priority: High, Type: Bug

#289 frontend event details page bug fix
  app/frontend/src/components/Events/Event_Details.js
  app/frontend/src/components/Events/Events.js
Labels: Front-End, Priority: Medium, Type: Bug

#300 Android enhancement filter event
  app/android/app/src/main/java/com/example/arken/fragment/ListEventFragment.kt
  app/android/app/src/main/res/layout/fragment_listevent.xml
Labels: Mobile-Android, Priority: Medium, Type: Optimization

#296 Merge currency page into android dev
  app/android/app/build.gradle
  app/android/app/src/main/java/com/example/arken/fragment/CurrencyFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/ListCurrentFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/LoginFragment.java
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/Currency.kt
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/CurrencyValue.kt
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/Current.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/CurrencyAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/CurrencyValueAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/adapter/DateTimeAdapter.kt
  app/android/app/src/main/java/com/example/arken/viewModel/TradingEquipmentViewModel.kt
  app/android/app/src/main/res/drawable-anydpi/ic_currency_follow.xml
  app/android/app/src/main/res/drawable-anydpi/ic_currency_prediction_down.xml
  app/android/app/src/main/res/drawable-anydpi/ic_currency_prediction_up.xml
  app/android/app/src/main/res/drawable-hdpi/ic_currency_follow.png
  app/android/app/src/main/res/drawable-hdpi/ic_currency_prediction_down.png
  app/android/app/src/main/res/drawable-hdpi/ic_currency_prediction_up.png
  app/android/app/src/main/res/drawable-mdpi/ic_currency_follow.png
  app/android/app/src/main/res/drawable-mdpi/ic_currency_prediction_down.png
  app/android/app/src/main/res/drawable-mdpi/ic_currency_prediction_up.png
  app/android/app/src/main/res/drawable-xhdpi/ic_currency_follow.png
  app/android/app/src/main/res/drawable-xhdpi/ic_currency_prediction_down.png
  app/android/app/src/main/res/drawable-xhdpi/ic_currency_prediction_up.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_currency_follow.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_currency_prediction_down.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_currency_prediction_up.png
  app/android/app/src/main/res/layout/currency_value_row.xml
  app/android/app/src/main/res/layout/current_row.xml
  app/android/app/src/main/res/layout/fragment_currency.xml
  app/android/app/src/main/res/layout/fragment_listevent.xml
  app/android/app/src/main/res/layout/signup_part.xml
  app/android/app/src/main/res/navigation/navigation_base.xml
  app/android/app/src/main/res/values/colors.xml
  app/android/app/src/main/res/values/strings.xml
  app/android/build.gradle
Labels: Mobile-Android, Priority: High, Type: Feature

#295 Android feature search layout
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/ProfileFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchArticle.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchEvent.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchTE.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchUser.kt
  app/android/app/src/main/java/com/example/arken/util/MenuAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/SearchPagerAdapter.kt
  app/android/app/src/main/res/drawable-anydpi/ic_search.xml
  app/android/app/src/main/res/drawable-hdpi/ic_search.png
  app/android/app/src/main/res/drawable-mdpi/ic_search.png
  app/android/app/src/main/res/drawable-xhdpi/ic_search.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_search.png
  app/android/app/src/main/res/layout/fragment_base.xml
  app/android/app/src/main/res/layout/fragment_profile.xml
  app/android/app/src/main/res/layout/fragment_search.xml
  app/android/app/src/main/res/layout/item_menu.xml
  app/android/app/src/main/res/navigation/navigation_base.xml
  app/android/app/src/main/res/values/styles.xml
Labels: Mobile-Android, Priority: Medium, Type: Feature

#301 WIP: Update request body field validations
  app/backend/routes/article.js
  app/backend/routes/login-signup.js
  app/backend/routes/portfolio.js
  app/backend/routes/profile.js
Labels: Back-End, Priority: Medium, Type: Bug

#306 Backend feature semantic search
  app/backend/controllers/events.js
  app/backend/controllers/middleware.js
  app/backend/controllers/search.js
  app/backend/index.js
  app/backend/package.json
  app/backend/routes/search.js
  app/backend/utils.js
Labels: Back-End, Priority: High, Type: Development

#305 Android enhancement filter event-v2
  app/android/app/src/main/java/com/example/arken/fragment/ListEventFragment.kt
  app/android/app/src/main/res/layout/fragment_listevent.xml
  app/android/app/src/main/res/values/strings.xml
Labels: Mobile-Android, Priority: Low, Type: Optimization

#307 Frontend enhancement- filter events
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Events/Event_Details.js
  app/frontend/src/components/Events/Events.js
  app/frontend/src/components/Loading.js
  app/frontend/src/factories/userFactory.js
Labels: Front-End, Priority: Medium, Status: Review needed, Type: Enhancement

#308 Backend milestone 2 part 2
  app/backend/controllers/comments.js
  app/backend/controllers/events.js
  app/backend/controllers/middleware.js
  app/backend/controllers/profile.js
  app/backend/controllers/search.js
  app/backend/controllers/trading-equipments.js
  app/backend/index.js
  app/backend/models/current-trading-eq.js
  app/backend/models/portfolio.js
  app/backend/package.json
  app/backend/routes/article.js
  app/backend/routes/comments.js
  app/backend/routes/login-signup.js
  app/backend/routes/portfolio.js
  app/backend/routes/profile.js
  app/backend/routes/search.js
  app/backend/routes/trading-eq.js
  app/backend/utils.js
Labels: Back-End, Priority: Medium, Type: Development

#310 Android feature enhancement tE
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/CurrencyFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/GoogleSignupFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/ListCommentFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/LoginFragment.java
  app/android/app/src/main/java/com/example/arken/model/GoogleUser.java
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/Currency.kt
  app/android/app/src/main/java/com/example/arken/model/tradingEquipment/Prediction.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/viewModel/TradingEquipmentViewModel.kt
  app/android/app/src/main/res/layout/fragment_currency.xml
  app/android/app/src/main/res/values/strings.xml
Labels: Mobile-Android, Priority: High, Type: Enhancement

#311 Android feature user follow
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.java
  app/android/app/src/main/java/com/example/arken/fragment/BaseFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/CommentFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/ListEventFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/PendingUserDialog.kt
  app/android/app/src/main/java/com/example/arken/fragment/ProfileFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchUser.kt
  app/android/app/src/main/java/com/example/arken/model/FollowRequest.kt
  app/android/app/src/main/java/com/example/arken/model/Profile.kt
  app/android/app/src/main/java/com/example/arken/model/SearchResult.kt
  app/android/app/src/main/java/com/example/arken/util/APIService.java
  app/android/app/src/main/java/com/example/arken/util/MenuAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/RequestAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/SearchPagerAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/UserAdapter.kt
  app/android/app/src/main/res/drawable-anydpi/ic_accept.xml
  app/android/app/src/main/res/drawable-hdpi/ic_accept.png
  app/android/app/src/main/res/drawable-mdpi/ic_accept.png
  app/android/app/src/main/res/drawable-xhdpi/ic_accept.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_accept.png
  app/android/app/src/main/res/layout/dialog_pending_request.xml
  app/android/app/src/main/res/layout/fragment_comment.xml
  app/android/app/src/main/res/layout/fragment_currency.xml
  app/android/app/src/main/res/layout/fragment_listevent.xml
  app/android/app/src/main/res/layout/fragment_profile.xml
  app/android/app/src/main/res/layout/fragment_search.xml
  app/android/app/src/main/res/layout/fragment_user_list.xml
  app/android/app/src/main/res/layout/user_row.xml
  app/android/app/src/main/res/navigation/navigation_base.xml
Labels: Mobile-Android, Priority: Critical, Type: Feature

#313 Android feature search
  app/android/app/src/main/java/com/example/arken/fragment/ListEventFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchArticle.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchEvent.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchTE.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchUser.kt
  app/android/app/src/main/java/com/example/arken/util/CurrencyAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/EventAdapter.kt
  app/android/app/src/main/java/com/example/arken/util/SearchPagerAdapter.kt
  app/android/app/src/main/res/layout/fragment_currency_list.xml
  app/android/app/src/main/res/layout/fragment_event_list.xml
Labels: Mobile-Android, Priority: High, Type: Feature

#315 Frontend feature - article details page
  app/frontend/package-lock.json
  app/frontend/src/_core/baseRequest.js
  app/frontend/src/_core/localStorage.js
  app/frontend/src/_core/requestMiddleware.js
  app/frontend/src/actions/userActions.js
  app/frontend/src/assets/article_photo.png
  app/frontend/src/components/Articles/Article_Details.js
  app/frontend/src/components/Comments.js
  app/frontend/src/components/Events/Event_Details.js
  app/frontend/src/components/Router.js
  app/frontend/src/factories/userFactory.js
Labels: Front-End, Priority: High, Status: In Progress, Type: Feature

#317 Merge tr eq to frontend
  app/frontend/package.json
  app/frontend/src/_core/baseRequest.js
  app/frontend/src/actions/tradingEquipmentActions.js
  app/frontend/src/components/Header/ArkenHeader.js
  app/frontend/src/components/Router.js
  app/frontend/src/components/TradingEquipment/TEqChart.js
  app/frontend/src/components/TradingEquipment/TradingEquipment.js
  app/frontend/src/factories/tradingEquipmentFactory.js
  app/frontend/src/utils/constants/tradingEquipment.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Development

#318 Frontend enhancement comments component
  app/frontend/src/components/Comments.js
  app/frontend/src/components/Events/Event_Details.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Enhancement

#319 search constructed
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/actions/searchActions.js
  app/frontend/src/components/Articles/Article_Details.js
  app/frontend/src/components/Events/Event_Details.js
  app/frontend/src/components/Header/ArkenHeader.js
  app/frontend/src/components/Header/UserHeaderComponent.js
  app/frontend/src/components/Router.js
  app/frontend/src/components/Search/Search.js
  app/frontend/src/components/TradingEquipment/TradingEquipment.js
  app/frontend/src/factories/searchFactory.js
Labels: Front-End, Priority: Critical, Status: Review needed, Type: Development

#322 Android bugfix
  app/android/app/src/main/java/com/example/arken/fragment/ListEventFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/ProfileFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchFragment.kt
  app/android/app/src/main/java/com/example/arken/fragment/search/SearchUser.kt
  app/android/app/src/main/java/com/example/arken/util/SearchPagerAdapter.kt
  app/android/app/src/main/res/layout/custom_spinner.xml
  app/android/app/src/main/res/layout/fragment_forgot_password.xml
  app/android/app/src/main/res/layout/fragment_listevent.xml
  app/android/app/src/main/res/layout/fragment_profile.xml
  app/android/app/src/main/res/layout/fragment_signup_google.xml
Labels: Mobile-Android, Priority: Critical, Type: Bug

#323 Frontend feature - trading equipment prediction
  app/frontend/src/actions/tradingEquipmentActions.js
  app/frontend/src/components/TradingEquipment/TradingEquipment.js
  app/frontend/src/factories/tradingEquipmentFactory.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Feature

#325 Frontend enhancement -"create new article" page
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Articles/Create_Article.js
  app/frontend/src/components/Router.js
  app/frontend/src/factories/userFactory.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Enhancement

#326 Merge profile layout to frontend
  app/frontend/src/_core/config.js
  app/frontend/src/actions/userActions.js
  app/frontend/src/components/Profile/FriendsCard.js
  app/frontend/src/components/Profile/Profile.js
  app/frontend/src/components/Profile/ProfileCard.js
  app/frontend/src/components/Profile/Profile_Others.js
  app/frontend/src/components/Search/Search.js
  app/frontend/src/factories/userFactory.js
Labels: Front-End, Priority: High, Status: Review needed, Type: Enhancement

#329 Merge profile layout to frontend
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/components/Articles/Create_Article.js
  app/frontend/src/components/Header/ArkenHeader.js
  app/frontend/src/components/Header/GuestHeaderComponent.js
  app/frontend/src/components/Header/UserHeaderComponent.js
  app/frontend/src/components/Profile/Profile.js
  app/frontend/src/components/Profile/ProfileCard.js
  app/frontend/src/components/Profile/Profile_Others.js
  app/frontend/src/components/Search/Search.js
Labels: Back-End, Priority: Critical, Status: Review needed, Type: Enhancement, dependencies, help wanted

#337 add user prediction info to response
  app/backend/controllers/trading-equipments.js
Labels: Back-End, Priority: Low, Type: Development

#335 Backend feature cancel follow request
  app/backend/controllers/profile.js
  app/backend/routes/profile.js
Labels: Back-End, Priority: Low, Type: Development
