Repository bounswe/bounswe2019group4, pull requests merged in 2019-05, with the labels that each got.

#88 Add get forex data
  practice-app/backend/package-lock.json
  practice-app/backend/package.json
  practice-app/backend/routes/trading-equipments.js
Labels: Back-End, Priority: Medium, Status: In Progress, Type: Development

#89 Backend for view events functionality
  practice-app/backend/routes/events.js
Labels: Back-End, Priority: High, Status: Review needed, Type: Development

#90 Separate controllers
  practice-app/backend/controllers/events.js
  practice-app/backend/controllers/login-signup.js
  practice-app/backend/controllers/trading-equipments.js
  practice-app/backend/index.js
  practice-app/backend/routes/events.js
  practice-app/backend/routes/login-signup.js
  practice-app/backend/routes/trading-equipments.js
Labels: Back-End, Status: Review needed, Type: Optimization

#94 add frontend of currency converter
  practice-app/frontend/src/App.js
  practice-app/frontend/src/components/t-equipments/currency-converter/index.js
Labels: Front-End, Priority: Medium, Status: Review needed

#93 add basic t eq frontend
  practice-app/frontend/src/App.js
  practice-app/frontend/src/components/t-equipments/currency-converter/index.js
  practice-app/frontend/src/components/t-equipments/index.js
  practice-app/frontend/src/components/t-equipments/styles.css
Labels: Front-End, Priority: Medium, Status: Review needed

#92 Bugfix: login-signup endpoints can't find the User model
  practice-app/backend/controllers/login-signup.js
  practice-app/backend/routes/login-signup.js
Labels: Back-End, Priority: Critical, Type: Expected Behavior

#95 Bugfix event
  practice-app/backend/controllers/events.js
Labels: Back-End, Priority: Medium, Status: Review needed, Type: Bug

#91 Add events tests
  practice-app/backend/package.json
  practice-app/backend/tests/events.test.js
  practice-app/backend/tests/login-signup.test.js
  practice-app/backend/tests/trading-equipments.test.js
Labels: Back-End, Priority: High, Status: Review needed, Type: Enhancement

#97 Events frontend
  practice-app/frontend/src/App.js
  practice-app/frontend/src/components/event/Home.js
  practice-app/frontend/src/components/event/index.js
  practice-app/frontend/src/components/event/styles.css
  practice-app/frontend/src/components/login/styles.css
  practice-app/frontend/src/onestar.png
  practice-app/frontend/src/threestar.png
  practice-app/frontend/src/twostar.png
Labels: Front-End, Priority: Medium, Status: Review needed

#96 Add trading equipments tests
  practice-app/backend/package-lock.json
  practice-app/backend/tests/trading-equipments.test.js
Labels: Back-End, Priority: Medium, Status: Review needed, Type: Enhancement

#99 Event test
  practice-app/backend/tests/events.test.js
Labels: Back-End, Priority: Low, Type: Development

#105 add unit test for signup
  practice-app/backend/package.json
  practice-app/backend/tests/login-signup.test.js
Labels: Back-End, Priority: Medium, Status: Review needed

#104 bugfix login controller
  practice-app/backend/controllers/login-signup.js
Labels: Back-End, Status: Review needed, Type: Bug

#114 Latest state of the project
  practice-app/backend/controllers/events.js
  practice-app/backend/controllers/login-signup.js
  practice-app/backend/controllers/trading-equipments.js
  practice-app/backend/index.js
  practice-app/backend/package-lock.json
  practice-app/backend/package.json
  practice-app/backend/routes/events.js
  practice-app/backend/routes/login-signup.js
  practice-app/backend/routes/trading-equipments.js
  practice-app/backend/tests/events.test.js
  practice-app/backend/tests/login-signup.test.js
  practice-app/backend/tests/trading-equipments.test.js
  practice-app/frontend/package.json
  practice-app/frontend/public/index.html
  practice-app/frontend/public/logoarken.png
  practice-app/frontend/src/App.js
  practice-app/frontend/src/components/Header/GuestHeaderComponents.js
  practice-app/frontend/src/components/Header/Header.js
  practice-app/frontend/src/components/Header/StyledHeaderComponents.js
  practice-app/frontend/src/components/Routes.js
  practice-app/frontend/src/components/core/history.js
  practice-app/frontend/src/components/event/Post.js
  practice-app/frontend/src/components/event/index.js
  practice-app/frontend/src/components/event/styles.css
  practice-app/frontend/src/components/login/Login.js
  practice-app/frontend/src/components/login/styles.css
  practice-app/frontend/src/components/signup/SignUp.js
  practice-app/frontend/src/components/signup/index.js
  practice-app/frontend/src/components/signup/styles.css
  practice-app/frontend/src/components/t-equipments/currency-converter/index.js
  practice-app/frontend/src/components/t-equipments/index.js
  practice-app/frontend/src/components/t-equipments/styles.css
  practice-app/frontend/src/onestar.png
  practice-app/frontend/src/threestar.png
  practice-app/frontend/src/twostar.png
Labels: Front-End, Priority: High, Status: Review needed, Type: Development
