Repository bounswe/bounswe2019group4, pull requests merged in 2019-04, with the labels that each got.

#67 Post signup functionality
  .gitignore
  practice-app/backend/index.js
  practice-app/backend/models/user.js
  practice-app/backend/package-lock.json
  practice-app/backend/package.json
  practice-app/backend/routes/login-signup.js
Labels: Priority: Medium, Status: Review needed

#74 Backend
  practice-app/backend/index.js
  practice-app/backend/models/user.js
  practice-app/backend/package-lock.json
  practice-app/backend/package.json
  practice-app/backend/routes/events.js
  practice-app/backend/routes/login-signup.js
  practice-app/backend/routes/trading-equipments.js
Labels: Back-End, Priority: High, Status: Review needed, Type: Development

#83 Add login endpoint
  practice-app/backend/index.js
  practice-app/backend/package.json
  practice-app/backend/routes/login-signup.js
Labels: Back-End

#84 Login page
  practice-app/frontend/.gitignore
  practice-app/frontend/README.md
  practice-app/frontend/package.json
  practice-app/frontend/public/favicon.ico
  practice-app/frontend/public/index.html
  practice-app/frontend/public/manifest.json
  practice-app/frontend/src/App.css
  practice-app/frontend/src/App.js
  practice-app/frontend/src/App.test.js
  practice-app/frontend/src/components/login/index.js
  practice-app/frontend/src/components/login/styles.css
  practice-app/frontend/src/components/signup/index.js
  practice-app/frontend/src/components/signup/styles.css
  practice-app/frontend/src/index.css
  practice-app/frontend/src/index.js
  practice-app/frontend/src/logo.svg
  practice-app/frontend/src/serviceWorker.js
Labels: Front-End, Priority: Medium, Status: Review needed

#85 Signup page
  practice-app/frontend/src/components/signup/index.js
Labels: Front-End, Priority: Medium, Status: Review needed, Type: Development
